{% extends "myapp/base.html" %}
{% load static %}

{% block content %}
  {% include 'myapp/navbar.html' %}



    <div class="container-fluid mt-2 p-5 ml-5">
      <div class="row justify-content-center">
  
        <div class="col-md-12 text-center mb-5 mt-5">
          <div class="main-text">
            <h1 style="color: #5EA061; font-weight: bold;">EXPORT YOUR DAILY</h1>
            <h2 style="color: #4E7A5D; font-weight: bold; font-size: 2.6rem;">Attendance</h2>
          </div>
        </div>
  
        <div class="col-md-5">
          <div class="card rounded-1.2rem">
            <div class="card-body">
              <form method="post" action="{% url 'export' %}">
                {% csrf_token %}
                <div class="row">
  
                  <div class="col-md-5">
                    <img src="{% static 'images/Group.png' %}" alt="img" width="100%">
                  </div>

              
  
                  <div class="col-md-7 align-self-center mb-4">
                    <h6 class="mt-3" style="font-size:clamp(.7rem, 1.5rem, 2rem);color:#4E7A5D;">Select Date</h6>
                    <label for="{{ form.selected_date.id_for_label }}" class="form-label"></label>
                    <input type="date" class="form-control" id="{{ form.selected_date.id_for_label }}" name="{{ form.selected_date.name }}" style="width: 100%; padding: 0.6rem;">
  
                    <div class="d-flex justify-content-between mt-4">
                      <button type="submit" class="btn btn-success px-5">Export</button>
                      <button type="submit" class="btn px-4" style="background-color:white;color:#4E7A5D;border:1px solid #4E7A5D;">View Attendance</button>
                    </div>
                  </div>
  
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <div class="col-md-1" style="text-align:center;display:flex;justify-content:space-around;align-items:center;flex-direction:column;">
          <div class="row" style="justify-content:start;">
            <div class="col-12" style="margin-left:2rem;border-left:solid 2px #ddd;height:80px;">
              
              </div>
          </div>
          <div class="row">
            <div class="col-12" style="margin-left:.2rem;color:#4E7A5D;">or</div>
          </div>
          <div class="row">
            <div class="col-12" style="margin-left:2rem;border-left:solid 2px #ddd;height:80px;">
              
            </div>
          </div>
        </div>
  
        <div class="col-md-5">
          <div class="card rounded-1.2rem">
            <div class="card-body">
              <form method="post" action="{% url 'export_data_afternoon' %}">
                {% csrf_token %}
                <div class="row">
  
                  <div class="col-md-5">
                    <img src="{% static 'images/Group 573.png' %}" alt="img" width="100%">
                  </div>
  
                  <div class="col-md-7 align-self-center mb-4">
                    <h6 class="mt-3" style="color:#4E7A5D;font-size:clamp(.7rem, 1.5rem, 2rem);">Select Date</h6>
                    <label for="{{ form.selected_date.id_for_label }}" class="form-label"></label>
                    <input type="date" class="form-control" id="{{ form.selected_date.id_for_label }}" name="{{ form.selected_date.name }}" style="width: 100%; padding: 0.6rem;">
  
                    <div class="d-flex justify-content-between mt-4">
                      <button type="submit" class="btn btn-success px-5">Export</button>
                      <button type="submit" class="btn px-4" style="background-color:white;color:#4E7A5D;border:1px solid #4E7A5D;">View Attendance</button>
                    </div>
                  </div>
  
                </div>
              </form>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
   
  


  {% if messages %}
      {% for message in messages %}
          {% if 'export' in message.tags %}
              <script>
                  swal({
                      title: "Export Successfully!",
                      text: "{{ message }}",
                      icon: "success",
                  });
              </script>




              {% endif %}
             {% endfor %}
         {% endif %}


{% endblock content %}

