<!-- qr_scanner.html -->

{% extends "myapp/base.html" %}

{% block content %}
  {% include 'myapp/navbar.html' %}


<style>
    .table-container {
        max-height: 690px;
        overflow-y: auto;
    }
    .toastSize{
        font-size:1.1rem;
        font-weight:bold;
    }
   #error-message {
    position: absolute;
    top: 3.4rem;
    left: 0; /* Adjust the left position */
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    font-size: 1.1rem;
    text-align: left; /* Align the text to the left */
    padding: 12rem 7rem; /* Adjust padding for better appearance */
    box-sizing: border-box;
    font-weight:bold;
}


</style>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div id="webcam-container">
                <video id="webcam" width="640" height="480" autoplay alt="IF THE VIDEO IS NOT SHOWING REFRESH THE PAGE"></video>
                <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
                 <div id="error-message" style="font-size:3rem;font-weight: bold;">REFRESH THE PAGE</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-12" style="position: relative; left: 3rem;">
                <div class="table-container card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="defaultdatatable" class="table table-bordered table-hover table-striped tables">
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th>TIMEIN</th>
                                        <th>BREAKOUT</th>
                                        <th>BREAKIN</th>
                                        <th>TIMEOUT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Your table content goes here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script>

    function QRList() {
        $.ajax({
            url: '{% url "display_qr_list" %}',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var tableBody = $('#defaultdatatable tbody');
                tableBody.empty(); // Clear previous table data

                data.attendances.forEach(function (attendance) {
                    var row = $('<tr>');
                    row.append('<td>' + attendance.name + '</td>');
                    row.append('<td>' + attendance.timein + '</td>');
                    row.append('<td>' + attendance.breakout + '</td>');
                    row.append('<td>' + attendance.breakin + '</td>');
                    row.append('<td>' + attendance.timeout + '</td>');
                    tableBody.append(row);
                });
            },
            error: function (error) {
                console.error('Error fetching attendance data:', error);
            }
        });
    }

    // Call ImportList initially
    QRList();

    // Use setInterval to update the table every 2000 milliseconds (2 seconds)
    setInterval(QRList, 1000);

</script>




<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const video = document.getElementById('webcam');
        const canvas = document.getElementById('canvas');
        const errorMessage = document.getElementById('error-message');

        navigator.mediaDevices.getUserMedia({ video: true })
            .then((stream) => {
                video.srcObject = stream;
                video.play();

                const track = stream.getVideoTracks()[0];
                const imageCapture = new ImageCapture(track);

                const scanQRCode = () => {
                    imageCapture.grabFrame()
                        .then((imageBitmap) => {
                            const context = canvas.getContext('2d');
                            context.drawImage(imageBitmap, 0, 0, canvas.width, canvas.height);

                            canvas.toBlob((blob) => {
                                const formData = new FormData();
                                formData.append('webcam_image', blob, 'webcam_image.png');

                                fetch('{% url "webcam_qr_code_scanner" %}', {
                                    method: 'POST',
                                    body: formData,
                                    headers: {
                                        'X-CSRFToken': '{{ csrf_token }}',
                                    },
                                })
                                .then(response => response.json())
                                .then(data => {
                                    // Continue scanning for the next frame
                                    requestAnimationFrame(scanQRCode);
                                })
                                .catch(error => {
                                    console.error('Error:', error);

                                    // Continue scanning for the next frame
                                    requestAnimationFrame(scanQRCode);
                                });
                            }, 'image/png');
                        })
                        .catch((error) => {
                            console.error('Error grabbing frame:', error);

                            // Continue scanning for the next frame
                            requestAnimationFrame(scanQRCode);

                        });
                };

                // Start the automatic QR code scanning
                requestAnimationFrame(scanQRCode);
            })
            .catch((error) => {
                console.error('ESDFSDFSDm:', error);
                webcam.style.display = 'none';
                errorMessage.style.display = 'block';
            });




        // Initialize Toastr
        toastr.options = {
            positionClass: 'toast-top-left',
            preventDuplicates: true,
            progressBar: true,
            showDuration: 1000,
            hideDuration: 1500,
            timeOut: 5000,
            extendedTimeOut: 1000,
            messageClass: 'toastSize',
        };


       function fetchAndDisplayMessages() {
            $.ajax({
                url: '{% url "fetch_messages" %}',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    data.messages.forEach(function(message) {
                        // Check if 'no_bibo' is present in the comma-separated string of tags
                        if (message.tags.includes('no_bibo')) {
                            toastr.error(message.text);
                        }

                        else if (message.tags.includes('timein_already')) {
                            toastr.error(message.text);
                        }
                         else if (message.tags.includes('breakin_already')) {
                            toastr.error(message.text);
                        }
                        else if (message.tags.includes('timeout_already')) {
                            toastr.error(message.text);
                        }
                         else {
                            toastr.success(message.text);
                        }
                    });
                },
                error: function(error) {
                    console.error('Error fetching messages:', error);
                },
                complete: function() {
                    setTimeout(fetchAndDisplayMessages, 300);
                }
            });
        }


        fetchAndDisplayMessages();
    });



</script>



{% endblock %}
